In [1]:
import numpy as np
import pandas as pd

In [8]:
vals1 = np.array([1,None,3,4])

In [9]:
print vals1
print vals1.shape

[1 None 3 4]
(4,)

In [12]:
for dtype in ['object','int']:
    print('dtype=',dtype)
    %time np.arange(1E6,dtype=dtype).sum()
    print()

('dtype=', 'object')
CPU times: user 33.2 ms, sys: 1.52 ms, total: 34.7 ms
Wall time: 33.3 ms
()
('dtype=', 'int')
CPU times: user 1.56 ms, sys: 60 Âµs, total: 1.62 ms
Wall time: 1.23 ms
()

In [15]:
vals2 = np.array([1,np.nan,3,4])
vals2.dtype

dtype('float64')

In [16]:
 1+np.nan

nan

In [17]:
0*np.nan

nan

In [18]:
vals2.sum()

nan

In [19]:
x = pd.Series(range(2),dtype=int)
print x

0    0
1    1
dtype: int64

In [20]:
x[0] = None
print x

0    NaN
1    1.0
dtype: float64